

.selectedContact{
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 6px;
    padding: 1rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow-color);
}

.selectedContact__header{
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary-color);
}

.selectedContact__header h2{
    margin: 0;
}

.selectedContact__body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.selectedContact__detail{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.selectedContact__detail h3:last-child{
    margin-left: 1rem;
}

@media screen and (min-width:768px) {
    .selectedContact{
        width: 40rem;
    }
}

@media screen and (min-width:1024px) {
    .selectedContact{
        width: 50rem;
    }
}